{% extends 'core/base.html' %}
{% block title %}Password sent!{% endblock title %}
{% load static %}
{% block content %}
<div class="anotalo">
    <div class="container d-flex min-vh-100 justify-content-center align-items-center ">
        <div class="row ">
            <div class="text-center mb-5">
                <a href="{% url 'main:home' %}" class="fw-600 fs-3 texty-blue text-decoration-none ">
                    <img src="{% static 'core/img/logo.png'%} " class="d-inline-block align-text-top" width="35px" heigth="35px" alt="">
                    Anotalo
                </a>
            </div>
            <div class="col col-lg-4 col-md-7 col-10 fw-600 shadow-me p-3 border-5r-solid bg-lightgray mb-4 mx-auto">
                <p class="mb-4">Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder. </p>
                <div class="d-grid">
                    <a class="btn btn-blue fw-600 " href="{% url 'login' %}">Return to log in</a>
                </div>
        </div>
    </div>
</div>
{% endblock content %}