{% extends 'core/base.html' %}
{% block title %}New password {% endblock title %}
{% load static %}
{% block content %}
<div class="anotalo">
    <div class="container d-flex min-vh-100 justify-content-center align-items-center ">
        <div class="row ">
            <div class="text-center mb-5">
                <a href="{% url 'main:home' %}" class="fw-600 fs-3 texty-blue text-decoration-none ">
                    <img src="{% static 'core/img/logo.png'%} " class="d-inline-block align-text-top" width="35px" heigth="35px" alt="">
                    Anotalo
                </a>
            </div>
            {% if validlink %}
            <div class="col col-lg-10 col-md-7 col-10 fw-600 shadow-me p-3 border-5r-solid bg-lightgray mb-4 mx-auto">                
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
                <form method="post">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">New password:</label>
                        <input type="password" class="form-control" name="new_password1" required id="id_new_password1" placeholder="Enter the new password">
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Repeat password:</label>
                        <input type="password" class="form-control" name="new_password2" required id="id_new_password2" placeholder="Repeat the new password">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-blue fw-600">Change my password </button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="col col-lg-5 col-md-7 col-10 fw-600 shadow-me p-3 border-5r-solid bg-lightgray mb-4 mx-auto">                
                <p>The password reset link was invalid, surely because it has been used before. Please request a new password reset.</p>
                <div class="d-grid">
                    <a class="btn btn-blue fw-600" href="{% url 'password_reset' %}">Password reset</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}