{% load static %}
<section id="about">
    <div class="container mb-5">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200" >
                <div class="bg-lightgray p-5">
                    <h3 class="fs-6 fw-700 texty-lightblue">What is a To Do Web App ?</h3>
                    <h2 class="fs-4 fw-700 texty-blue">To Do Web App is generally used to maintain our day-to-day tasks or list everything that we have to do.</h2>
                    <p class="mb-4">Anotalo offers you a free website where you can add your daily, weekly or monthly tasks. You will only have to create an account and you will be able to create as many tasks as you need! Now,</p>
                    <div class="text-center text-lg-start">
                        <a href="{% url 'register:signup' %}" class="btn btn-lg btn-blue d-inline-flex align-items-center justify-content-center align-self-center shadow-me">
                            <span>Let's try it!</span><i class="bi bi-arrow-right ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="400">
                <img src="{% static 'core/img/anotalo-about.jpg' %}" class="img-fluid mx-auto" alt="">
            </div>
        </div>
    </div>
</section>



