{% load static %}
<!-- Footer -->
<footer id="contact" class="text-center text-lg-start texty-blue" style="background-color: rgb(214, 226, 255)">
  <section >
    <div class="container text-center text-md-start">
      <div class="row gx-5">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <h6 class="text-uppercase fw-bold mb-4">
              <img src="{% static 'core/img/logo.svg' %}" class="d-inline-block align-text-top" width="20px" heigth="20px" alt="">
              Anotalo
          </h6>
          <p>If you have any problem with the website or want to know about the <a href="https://github.com/juanmarchant/anotalo_project" target="_blank" class="text-decoration-none">source code </a>or anything about the website, do not hesitate to contact me, I will respond as quickly as possible.</p>
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-md-0 mt-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p class="text-lg-start text-md-start text-center"><i class="bi bi-house-door-fill me-3"></i> Santiago, Chile</p>

          <p><i class="bi bi-envelope-fill me-3"></i><a class="text-decoration-none" href="mailto:anotalo.supp@gmail.com" target="_blank" rel="noopener noreferrer">anotalo.supp@gmail.com</a></p>
          
          <p>
            <i class="bi bi-github me-3"></i>
            <a class="text-decoration-none" target="_blank" href="https://github.com/juanmarchant/">Github author</a>
          </p>

        </div>
      </div>
    </div>
  </section>
</footer>
<!-- Footer -->