<footer id="contact" class="mt-5" style="background-color: rgb(214, 226, 255)">

  <div class="container">
    <div class="row justify-content-center p-3">
      <div class="col-lg-3">
        <h5 class="fw-700 texty-blue mb-3">Information</h5>
        <p>If you have any problem with the website or want to know about the <a href="https://github.com/juanmarchant/anotalo_project" target="_blank" class="text-decoration-none">source code </a>or anything about the website, do not hesitate to contact me, I will respond as quickly as possible.</p>
      </div>
      <div class="col-lg-3  ">
        <h5 class="fw-700 texty-blue mb-3">Contact</h5>
        <ul class="list-unstyled">
          <li class="texty-blue fw-600 mb-3">
            <span><i class="bi bi-envelope-fill"></i></span><span class="ms-2 align-top">anotalo.supp@gmail.com</span>            
          </li>
          <li class="texty-blue fw-600  mb-3">
            <span><i class="bi bi-geo-alt-fill"></i></span><span class="ms-2 align-top">Santiago, Chile</span>            
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center fw-600 texty-blue p-3" style="background-color: rgb(159, 188, 255)">
    © 2021 Copyright :
    <a class="texty-blue text-decoration-none" href="https://juanmarchant.pythonanywhere.com/">Juan Marchant</a>
  </div>
  <!-- Copyright -->
</footer>
